{% extends "base.html" %}

{% block content %}
<title>Coftea | Transaction History</title>
<div class="container mt-4 table-responsive">
    <h1>Order History</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Employee ID</th>
                <th>Date</th>
                <th>Total Price</th>
                <th>Details</th>
                <th>Payment</th>
                <th>Order Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.transaction_date }}</td>
                <td>₱{{ order.total_price }}</td>
                <td>
                    <ul>
                        {% for item in order.items.all %}
                        <li>{{ item.quantity }} x {{ item.product.product_name }} @ ₱{{ item.price }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.paymentMethod }}</td>
                <td>
                    {% if order.status == "Pending" %}
                        <form method="post" action="{% url 'pos' order.order_id %}">
                            {% csrf_token %}
                            <select class="form-control btn btn-info btn-rounded" name="status" onchange="this.form.submit()">
                                <option value="Pending" {% if order.status == "Pending" %}selected{% endif %}>Pending</option>
                                <option value="Completed" {% if order.status == "Completed" %}selected{% endif %}>Completed</option>
                                <option value="Cancelled" {% if order.status == "Cancelled" %}selected{% endif %}>Cancelled</option>
                            </select>
                        </form>
                    {% else %}
                    <span class="{% if order.status == 'Completed' %}form-control btn btn-success btn-rounded{% elif order.status == 'Cancelled' %}form-control btn btn-danger btn-rounded{% else %}text-warning{% endif %}">
                        {{ order.status }}
                    </span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'request_invoice' order.order_id %}" class="btn btn-primary btn-rounded" target="_blank">Request Invoice</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
